*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column-reverse  ;

}
.box{
    padding: 20px;
    background-color: brown;
    width: 160px;
}
.box2{
    background-color: aquamarine;

}
.box3{
    background-color: blueviolet;
}